/.vscode
.phpunit.result.cache
/node_modules
node_modules
/public_html/**
!/public_html/.htaccess
!/public_html/index.php
!/public_html/basicsite/**
/public_html/hot
/public_html/storage
/main/storage/*.key
/main/vendor/
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/main/storage/framework/**
!/main/storage/framework/cache
!/main/storage/framework/sessions
/main/storage/debugbar
/main/storage/logs
.DS_Store
.git*
/main/**/.git*
!/.gitignore
*.md
~$assified.docx
Classified.docx
template
.env
Archive*
TODO.cson
