@import './vendor/bootstrap-custom';
@import './vendor/OverlayScrollbars';
@import './vendor/yaybar';
@import './vendor/jquery.fancybox';
@import './vendor/emojionearea';
@import './vendor/swiper.min';
@import './vendor/jquery.datetimepicker';
@import './vendor/chartist';
@import './vendor/rootui';
@import './vendor/bootstrap-contextual-spacing';


html.rui-nightmode {
    @import './vendor/rootui-night';
}


/* PLACE YOUR CUSTOM STYLES IN THIS FILE */

.rui-widget.rui-widget-total {
    min-height: 100px;
}

#surety-validation {
    position: relative;
    left: 10px;
    top: 10px;
}

.input-group-text.verified {
    background-color: #2fc787;
    border-color: #2fc787;
    color: #fff;
}

.table td .surties {
    font-size: 12px;
}

.swal2-actions.swal2-loading .swal2-styled.swal2-confirm {
    min-width: 37px;
}

.dataTables_filter {
    @media (max-width: 365px) {
        position: relative;
        margin-bottom: 25px;
    }
}
