"Mariane Rempel Sr. core savings intrested with 390 \n"
"Mariane Rempel Sr. locked savings intrested with 2437.5 \n"
"Mariane Rempel Sr. locked savings intrested with 1417.5 \n"
"Mariane Rempel Sr. gos savings intrested with 1072.5 \n"
"Mariane Rempel Sr. gos savings intrested with 352.5 \n"
"Mariane Rempel Sr. gos savings intrested with 495 \n"
Completed successfully